.sortBy {
    display: flex;
    flex-direction: row;
}
.sortBy__item {
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid $mid-dark;
    padding: 0 3px;
    border-radius: 3px;
    display: flex;
    text-align: center;
    align-items: center;
    @include embossed-look($mid-light, $darkest);
    box-shadow: 1px 1px 1px $darkest;    
}
.sortBy__item:hover {
    background: $mid-light;
    color: $dark;
    @include embossed-look($darkest, $lightest);
    box-shadow: inset 1px 1px 1px $darkest;    
}