.currency_header {
  display: flex;
  align-items: center;
  font-family: $headline-font;
  text-transform: uppercase;
  padding: 0 3px;
  margin: 5px auto;
  padding-left: 5px;
  .currency_header__heading {
    width: 15%;
    margin: 5px 0;
  }
  .percent_change {
    width: 45%;
    padding: 0;
  }
  .currency_header__change-container {
    display: flex;
    padding: 0;
    .change-heading {    
      margin: 0;
      width: 22%;
    }
  }
}
.currency {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  @include embossed-look($mid-dark, $darkest);
  box-shadow: 1px 1px 1px $darkest;    
  border-radius: 6px;
  padding: 3px;
  margin: 5px auto;
  padding-left: 5px;
  line-height: 25px;
  text-align: center;
  background-color: $dark;
}
.currency__name {
  font-family: $headline-font;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px $darkest;
  
}
.trend-container {
  display: flex;
  margin: auto;
}
.currency__value, .currency__trend {
  margin: 0 5px;
}

@include for-tablet-landscape-up {

  .currency {
    flex-direction: row;
    text-align: left;
  }
  .currency__name {
    width: 20%;
  }
  .currency__value {
    width: 20%;
  }
  .trend-container {
    width: 50%;
  }
  .currency__trend {
    width: 33%;
  }
}