@import url('https://fonts.googleapis.com/css?family=Nunito|Righteous');

$headline-font: 'Righteous', cursive;
$body-font: 'Nunito', sans-serif;

$darkest: rgba(10, 9, 8, 1);
$dark: rgba(34, 51, 59, 1);
$lightest: rgba(234, 234, 234, 1);
$mid-dark: rgba(141, 161, 185, 1);
$mid-light: rgba(172, 203, 225, 1);
