// Define media breakpoints using mixins
// 600, 900, 1200, 1800

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin for-big-desktop-up {
    @media (max-width: 1800px) {
        @content;
    }
}

@mixin embossed-look($light-color, $dark-color) {
    border-top-color: $light-color;
    border-left-color: $light-color;
    border-right-color: $dark-color;
    border-bottom-color: $dark-color;
}